html { 
    background: url("/img/background.jpg") no-repeat center center fixed; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

:root {
    --col-blue: steelblue;
    --col-teal: teal;
    --col-gray: slategray;
    --col-smoke: whitesmoke;
    --col-mid:  midnightblue;
    --col-dodge: dodgerblue;
    --col-royal:  royalblue;
    --col-prussian: #003554;
    --col-error: tomato;
    --font-body: Roboto;
    --font-heading: sans-serif;
    --animations: 0.3s;
}


.sidenav {
  height: 100%; 
  width: 15em; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: var(--col-prussian); 
  overflow-x: hidden;
  padding-top: 2em;
  color: var(--col-smoke);
}

.sidenav a {
  padding: .375em .5em .375em 1em;
  text-decoration: none;
  font-size: 1.5625em;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: var(--col-smoke);
}

.mainnav{
    margin: 0 8% 0 -8%;
}

header {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1% 0;
    color: var(--col-smoke);
    border-bottom-style: ridge;
    border-bottom-color: var(--col-royal);
}

.messagearea{
    margin: 0 .5% 0 15%;
}

.topofconvo {
    margin-left: 2em; 
    padding: 0em .625em;
  }

.topofconvo {
border-style: ridge;
border-width: thick;
background-color: var(--col-smoke);
opacity: .9;
border-color: var(--col-smoke);
}

.topofreply {
    margin-left: 2em; 
    padding: 0em .625em;
  }

.topofreply {
border-style: ridge;
border-width: thick;
background-color: darkcyan;
opacity: .9;
border-color: var(--col-smoke);
}
  
  
.conlogo {
    border-style: outset;
    border-radius: 10em;
    height: 6em;
}

.searchconvo {
    background-color: white;
    margin-top: 1%;
    padding: 0 15% 0 2%;
    border-radius: .7em;
    width: 30%;
    height: 2em;
}

.profilepic{
    /* padding-left: 2em; */
    text-align: center;
    margin: 0 1em;
    border-radius: 50%;
    width: 85%;
    height: 70%;
}

.username{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    padding-top: .5em;
}

.createnew{
    padding: .8em;
    margin: 1em 1.5em;
    border-radius: 5%;
    background-color:var(--col-gray);
    color: var(--col-smoke);
    box-shadow: .1em .1em #888888;
    text-align: center;
}

.searchcontacts{
    margin: 1.2em .1em;
    padding: 0 1% 0 5%;
    border-radius: .7em;
    width: 90%;
    height: 2em;
}

.sections{
    padding: .7em 0;
    margin: 1em 0;
    text-align: center;
}

.recent{
    background-color: var(--col-royal);
}

.messages{
    background-color: var(--col-gray);
}

.contactlist{
    background-color: var(--col-dodge);
}

.topofconvo{
    border-style: ridge;
    border-width: thick;
    background-color: var(--col-smoke);
    opacity: .9;
    border-color: var(--col-smoke);
}

.contactcontainer{
    border-style: ridge;
    border-color: var(--col-smoke);
    border-bottom-color: var(--col-royal);
    border-width: .1em;
    /* box-shadow: .1em .1em; */
}

.contactpic{
    text-align: center;
    margin: 1em 1em;
    border-radius: 50%;
    width: 10%;
    height: 5%;
}

.contactname{
    margin: 0 .5em;
    font-size: 2em;
    color: var(--col-royal);
}

.replyname{
    margin: 0;
    font-size: 2em;
    color: white;
}

.messagebody{
    font-size: 1rem;
    text-align: left;
    color: var(--col-teal);
}

.replybody{
    font-size: 1rem;
    text-align: left;
    color: white;
}

.entermessage{
    margin-top: 2em;
    margin-left: 20%;
    padding: 0 2% 0 2%;
    border-radius: .7em;
    width: 60%;
    height: 5em;
}

.sendmessage{
    padding: .8em;
    margin: 1em 1.5em;
    width: 10%;
    border-radius: 5%;
    background-color: #78C0E0;
    color: var(--col-smoke);
    box-shadow: .1em .1em #888888;
    text-align: center;
}

/*------------------ MEDIA QUERIES ------------------ */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }